.notes {
  display: grid;
  width: auto;
  height: auto;
}
.note {
  width: auto;
  height: fit-content;
  border: solid;
  margin: 2px;
  border-color: black;
  border-width: 2px;
}

.button {

}

.note-text {
  margin: 15px;
}

.note-header {
  display: flex;
  width: auto;
  height: fit-content;
  margin: 2px;
}

.note-icon {
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}