<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="notes-sidebar.css"/>
  </head>

<body>
  <div class="color-pickers">
    <img class="note-icon" src="icons/highlighter.svg" alt="highlight color picker">
    <input class="color-picker" id="highlight-color-change" type="color" value="#ffff00">
    <img class="note-icon" src="icons/journal-text.svg" alt="annotation color picker">
    <input class="color-picker" id="annotate-color-change" type="color" value="#ff4500">
  </div>
  <div class="notes-window" id="notes"></div>
  <script src="../app/notes-sidebar.js"></script>
</body>
</html>