.notes-window {
  display: grid;
  width: auto;
  height: auto;
  background-color: whitesmoke;
}

.note {
  background-color: white;
  width: 98%;
  height: fit-content;
  margin: 2px;
  margin-right: 7px;
  margin-bottom: 10px;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px -2px dimgrey;
}

.buttons {
  margin-left: auto;
}

.button {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  border: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  margin: 2px;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px -2px dimgrey;
}

.button:active {
  width: 35px;
  height: 35px;
  background-color: grey;
  border-radius: 8px;
  border: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  margin: 2px;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px -2px dimgrey;
}

hr {
  width: 95%;
}

.note-text {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.note-header {
  display: flex;
  width: auto;
  height: fit-content;
  margin: 2px;
}

.note-icon {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  border: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  margin: 2px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px -2px dimgrey;
}

.color-picker {
  background-color: white;
  width: 98%;
  height: 35px;
  margin: 2px;
  margin-right: 7px;
  margin-bottom: 5px;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px -2px dimgrey;
  text-align: center;
  box-shadow: 0px 5px 5px -2px dimgrey;
  font-family: Arial, Helvetica, sans-serif;
}

input:active {
  background-color: grey;
}

.color-pickers {
  display: flex;
}